<div class="dialog-header-div">
  <div class="dialog-label-div">
    <label class="dialog-label">{{title}}</label>

    <button mat-button class="dialog-header-button">
      <mat-icon class="dialog-header-button-color" (click)="closeDialog()">close</mat-icon>
    </button>
  </div>
</div>
<div class="dialog-separator"></div>

<div class="inputs-div">
  <mat-form-field class="input-width">
    <input matInput placeholder="Name of Item" [(ngModel)]="item.name" required>
  </mat-form-field>
</div>


<div class="inputs-div">
  $
  <mat-form-field class="input-width">
    <input matInput type="number" placeholder="Price of Item" [(ngModel)]="item.price" min="0" required>
  </mat-form-field>
</div>

<div class="inputs-div">
  <mat-form-field class="input-width" (focusout)="clearImage();">
    <mat-select [(ngModel)]="item.type" aria-placeholder="Item Type">
      <mat-option value="coffee">Coffee</mat-option>
      <mat-option value="cake">Cake</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="inputs-div">
  <mat-form-field class="input-width" *ngIf="item.type === 'coffee'">
    <mat-select [(ngModel)]="item.fileName" placeholder="Coffee Image">
      <mat-option *ngFor="let option of coffeeOptions" value="{{option}}">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="inputs-width" *ngIf="item.type === 'cake'">
    <mat-select [(ngModel)]="item.fileName" placeholder="Cake Image">
      <mat-option *ngFor="let option of cakeOptions" value="{{option}}">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="dialog-button-group-div">
  <div class="inputs-div">
    <div class="dialog-button-div">
      <button class="dialog-submit-button" mat-button
              (click)="submit();">
        Submit
      </button>
    </div>
    <div class="dialog-button-div">
      <button class="dialog-close-button" mat-button
              (click)="closeDialog();">
        Cancel
      </button>
    </div>
    <div class="dialog-button-div" *ngIf="data.mode === 'edit'">
      <button class="dialog-delete-button" mat-button
              (click)="deleteItem();">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
