<div style="height: 64px;"></div>
<div>
  <div class="tab-div" (click)="switchTab('coffeeTab')" [ngClass]="coffeeTab">
    <label class="tab-label">Coffee</label>
  </div>
  <div class="tab-div" (click)="switchTab('cakesTab')" [ngClass]="cakesTab">
    <label class="tab-label">Cakes</label>
  </div>
</div>
<div class="divider-small display"></div>
<div class="center-text">
  <button class="create-button" mat-button (click)="createItemMode()">Create Item
  </button>
</div>

<div>
  <ng-container *ngIf="coffeeTab === 'tab-active' && cakesTab === 'tab-inactive'">
    <div class="display" *ngFor="let item of items;">
      <div class="items-displayed" (click)="selectItem(item)" *ngIf="item.type === 'coffee' && item.fileName !== ''">
        <img src="../../assets/{{item.fileName}}.PNG" class="item-image">
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="cakesTab === 'tab-active' && coffeeTab === 'tab-inactive'">
    <div class="display" *ngFor="let item of items;">
      <div class="items-displayed" (click)="selectItem(item)" *ngIf="item.type === 'cake' && item.fileName !== ''">
        <img src="../../assets/{{item.fileName}}.PNG" class="item-image">
      </div>
    </div>
  </ng-container>

</div>
