<div style="height: 64px;"></div>

<div>
  <div style="padding: 20px 40px 0px 40px;">
    <mat-form-field>
      <input #search matInput placeholder="Order date, Table Number" (input)="filterTable(search.value)" autocomplete="off">
      <mat-icon matSuffix style="color: #259FD9;">search</mat-icon>
    </mat-form-field>
    <div style="display: inline;">
      <!-- <button
              style="background-color: #2F3139;width: 162px;height: 47px;margin-right: 10px;"
              mat-button>
              <span style="font-size: 16px;font-weight: normal;color: #259FD9;">Add</span>
          </button>
          <button style="background-color: #2F3139;width: 162px;height: 47px;font-size: 16px;"
                  mat-button >
              <span style="font-size: 16px;font-weight: normal;color: #259FD9;">Export</span>
          </button> -->
    </div>
  </div>

  <div style="padding: 20px 40px;">
    <table mat-table [dataSource]="activitiesDataSource" matSort class="mat-elevation-z0">
      <ng-container matColumnDef="createdAt">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let act" style="width: 30%">{{act.createdAt | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
      </ng-container>

      <ng-container matColumnDef="table">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Table Number</th>
        <td mat-cell *matCellDef="let act" style="width: 15%">{{act.table}}</td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
        <td mat-cell *matCellDef="let act" style="width: 30%">
          <div *ngFor="let item of act.items">
            <div style="display: inline-block;width: 30%;text-align: left">{{item.itemName}}</div>
            X
            <div style="display: inline-block;width: 10%;">{{item.itemQuantity}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let act" style="width: 25%">
          {{act.total}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="activityColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: activityColumns;"></tr>
    </table>

    <mat-paginator [length]="table.length" [pageSize]="table.pageSize" [pageIndex]="table.pageIndex" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
