.separator {
  height: 64px;
}

.table-div {
  padding: 20px 40px;
}

table {
  width: 100%;
  text-align: center;
}

th {
  background-color: #2F3139;
  color: #259FD9;
  font-size: 16px;
  text-align: center;
}

td {
  font-size: 13px;
  text-align: center;
}
.center {
  text-align: center;
}

/* input underline colour */
:host ::ng-deep .mat-form-field-underline {
  color: #259FD9;
  background-color: #259FD9 !important;
}

/* input underline colour when disabled */
:host ::ng-deep .mat-form-field-disabled .mat-form-field-underline {
  color: #2B2B2B;
  background-color: #FFFFFF00 !important;
}

/* input focused underline ripple effect colour */
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #259FD9 !important;
}

/* input focused field label colour */
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #259FD9 !important;
}

.padding {
  padding: 20px 40px 0px 40px;
}

.color {
  color: #259FD9;
}

.width-five {
  width: 5%;
}

.width-twenty {
  min-width: 50px;
  width: 20%;
}

.width-quarter {
  width: 25%;
}
.width-thirty {
  width: 30%;
}

.width-ten {
  width: 10%;
}

.width-fifteen {
  width: 10%;
}

.display {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.min-width {
  min-width: 110px;
  text-align: left;
}
