<div class="separator"></div>

<div>
  <div class="padding">
    <mat-form-field>
      <input #search matInput placeholder="Order date, Table Number" (input)="filterTable(search.value)"
             autocomplete="off">
      <mat-icon matSuffix color="color">search</mat-icon>
    </mat-form-field>
  </div>

  <div class="table-div">
    <table mat-table [dataSource]="ordersDataSource" matSort class="mat-elevation-z0">
      <ng-container matColumnDef="createdAt">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let act" class="width-thirty">{{act.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      </ng-container>

      <ng-container matColumnDef="table">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Table Number</th>
        <td mat-cell *matCellDef="let act" class="width-fifteen">{{act.table?.number}}</td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
        <td mat-cell *matCellDef="let act" class="width-thirty">
          <div *ngFor="let item of act.items">
            <div class="width-thirty display min-width">{{item.itemName}}</div>
            X
            <div class="display width-ten">{{item.itemQuantity}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let act" class="width-quarter">
          <div class="display width-five">$</div>
          <div class="display width-twenty">{{act.total}}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
    </table>

    <mat-paginator [length]="table.length" [pageSize]="table.pageSize" [pageIndex]="table.pageIndex"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
