.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.inline-display {
  display: inline-block;
}

.logo {
  width: 25px;
  height: 25px;
  color: #322348;
  border-radius: 50px;
  margin: 10px 0 0 10px;
}

.store-name {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 26px;
  text-align: center;
}
