<app-main-nav></app-main-nav>
<!-- <mat-toolbar-row class="nav-bar-top">
  <div class="inline-display">
    <img src="../assets/coffebean.png" routerLink='/tables' class="inline-display logo">
    <div class="inline-display store-name">Abby's
      Coffee & Cake
    </div>
  </div>
</mat-toolbar-row>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
    <mat-nav-list>
      <mat-list>
        <mat-list-item class="sub-menu">
          <a mat-list-item matLine routerLink='/tables'><mat-icon>view_module</mat-icon>Tables</a>
          <a mat-list-item matLine routerLink='/items'><mat-icon>list</mat-icon>Items</a>
          <a mat-list-item matLine routerLink='/orders'><mat-icon>shopping_cart</mat-icon>Orders</a>
          <a mat-list-item matLine routerLink='/activity'><mat-icon>list_alt</mat-icon>Activity Logs</a>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

