<mat-toolbar-row class="nav-bar-top">
  <div class="inline-display">
    <img src="../assets/coffebean.png" routerLink='/tables' class="inline-display logo">
    <div class="inline-display store-name">Abby's
      Coffee & Cake
    </div>
  </div>
</mat-toolbar-row>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
    <mat-nav-list>
      <mat-list>
        <mat-list-item class="sub-menu">
          <a mat-list-item matLine routerLink='/tables'>Tables</a>
          <a mat-list-item matLine routerLink='/items'>Items</a>
          <a mat-list-item matLine routerLink='/orders'>Orders</a>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

