.main-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.nav-bar-top {
  color: white;
  min-width: 500px;
  min-height: 60px;
  width: 100%;
  overflow: hidden;
  background-color: #322348;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

mat-toolbar-row .app-name {
  padding-left: 15px;
}

mat-toolbar-row .account {
  padding-right: 15px;
}

.main-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #322348;
}

.main-sidenav a {
  height: 4.6vh;
  min-height: 30px;
  color: #FFFFFF;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sub-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inline-display {
  display: inline-block;
}

.logo {
  width: 25px;
  height: 25px;
  color: #322348;
  border-radius: 50px;
  margin: 10px 0 0 10px;
}

.store-name {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 26px;
  text-align: center;
}
