<div style="height: 64px;"></div>
<div class="tables-main-container" style="background-color: white">
  <h2 class="page-title">Tables</h2>
  <div class="header-container">
    <div class="create-button-div" *ngIf="mode === 'view'">
      <button class="create-button" mat-button (click)="createTableMode()">Create Table
      </button>
    </div>
  </div>

  <div class="display background" *ngFor="let table of tables;" style="background-color: white">
    <div class="tables-displayed" (click)="selectTable(table)" style="background-color: white">
      <img src="../../assets/table170px.jpg" class="table-image">
      <label class="label">
        Table {{table.number}}</label>
    </div>
  </div>
</div>
